
[data-mode="dark"] {

  --color-surface-a0: #121212;
  --color-surface-a10: #282828;
  --color-surface-a20: #3f3f3f;
  --color-surface-a30: #575757;
  --color-surface-a40: #717171;
  --color-surface-a50: #8b8b8b;
  --color-surface-a60: #b3b3b3;

  --text-color: #ffffff;
  --text-color-a10: #bbbbbb;
  --text-color-inverse: #000000;

  --text-color-h1: #ffffff;
  --text-color-h2: #ffffff;
  --text-color-h3: #ffffff;
  --text-color-h4: #ffffff;
  --text-color-h5: #ffffff;
  --text-color-h6: #ffffff;

  body{
    color : var(--text-color);
    background-color: var(--color-surface-a10);
  }

}

