
[data-theme="pink"] {

  --font-primary: 'Arial', sans-serif;
  --font-secondary: 'Georgia', serif;

  --alert-bg-error : #f8d7da;
  --alert-text-error : #721c24;
  --alert-border-left-error : #dc3545;

  --alert-bg-success : #d4edda;
  --alert-text-success : #155724;
  --alert-border-left-success : #28a745;

  --alert-bg-info : #d1ecf1;
  --alert-text-info : #0c5460;
  --alert-border-left-info : #17a2b8;

  --alert-bg-warning : #fff3cd;
  --alert-text-warning : #856404;
  --alert-border-left-warning : #ffc107;

  --border-radius: 6px;

  --primary-color : #c412be;
  --primary-color-hover : #920d8e;
  --secondary-color: #7112c4;
  --tertiary-color: #c41265;
}
